*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: sans-serif;

}

.multiplication-table{

    position: absolute;
    top: 5%;
    left: 50%;
    width: 800px;
    height: 500px;
    transform: translateX(-50%);

}